.linkButton {
	cursor: pointer;
	user-select: none;
	font-size: 1.25rem;
	font-weight: var(--font-weight-bold);
	line-height: 1.5rem;
	background: linear-gradient(273.58deg, #4AAF3A 0%, #245CEC 100%);
	color: var(--color-neutral-1000);
	padding: 1.125rem 3.125rem;
	border-radius: 999rem;
	text-align: center;
}
