---
import Document from "@app/Document.astro";
import { Block1, Block2, Block3 } from "@shared/landing/blocks";
import { Header } from "@widgets/header";
import { MainHero } from "@shared/landing/hero";
import { Navbar } from "@widgets/navbar";
import { Advantages } from "@shared/landing/advantages";
import { LatestNews } from "@widgets/latest-news";
---

<Document title="main page">
	<Header navbar={Navbar} />
	<main>
		<MainHero />
		<Block1 />
		<Block2 />
		<Advantages />
		<Block3 />
		<LatestNews />
	</main>
</Document>
