---
import App from "@app/App.astro";
import { Section1, Section2 } from "@shared/blocks/section";
import { Header } from "@widgets/header";
import { MainHero } from "@shared/blocks/hero";
import { Navbar } from "@widgets/navbar";
import { Advantages } from "@shared/blocks/advantages";
import { LatestNews } from "@widgets/latest-news";
import { LatestFaq } from "@widgets/latest-faq";
import { InfoCardsBlock1 } from "@shared/blocks/info-card";
---

<App title="main page">
	<Header navbar={Navbar} />
	<main>
		<MainHero />
		<Section1 />
		<Section2 />
		<div class="margins">
			<Advantages />
			<InfoCardsBlock1 />
			<LatestNews />
			<LatestFaq />
		</div>
	</main>
</App>

<style lang="scss">
	.margins {
		display: flex;
		flex-direction: column;
		gap: 7.5rem;
	}
</style>