---
import Document from "@app/layout/Document.astro";
import { MainHeader } from "@widgets/header";
import { MainNavbar } from "@widgets/navbar";
---

<Document title="main page">
	<MainHeader navbar={MainNavbar} />
	<main>main page</main>
</Document>
