---
import App from "@app/App.astro";
import { Info1, Info2, Info3 } from "@shared/blocks/info";
import { Header } from "@widgets/header";
import { MainHero } from "@shared/blocks/hero";
import { Navbar } from "@widgets/navbar";
import { Advantages } from "@shared/blocks/advantages";
import { LatestNews } from "@widgets/latest-news";
import { LatestFaq } from "@widgets/latest-faq";
---

<App title="main page">
	<Header navbar={Navbar} />
	<main>
		<MainHero />
		<Info1 />
		<Info2 />
		<Advantages />
		<Info3 />
		<LatestNews />
		<LatestFaq />
	</main>
</App>
