---
import Document from "@app/layout/Document.astro";
import { Header } from "@widgets/header";
import { Navbar } from "@widgets/navbar";
---

<Document title="main page">
	<Header navbar={Navbar} />
	<main>main page</main>
</Document>
