---
import Document from "@app/Document.astro";
import { Block1, Block2, Block3 } from "@widgets/blocks";
import { Header } from "@widgets/header";
import { MainHero } from "@widgets/hero";
import { Navbar } from "@widgets/navbar";
---

<Document title="main page">
	<Header navbar={Navbar} />
	<main>
		<MainHero />
		<Block1 />
		<Block2 />
		<Block3 />
	</main>
</Document>
