.footerBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--color-neutral-500);
	padding: 1.25rem 0 3rem;
}

.text {
	font-size: var(--font-size-p);
	line-height: var(--line-height-p);
	color: var(--text-color-p);
}

.logosWrapper {
	display: flex;
	gap: 2.5rem;
}

.logo {
	$size: 1.5rem;
	width: $size;
	height: $size;
}
