.wrapper {
	display: flex;
	gap: 0.625rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.select {
	background-color: transparent;
	border: 0;
	outline: 0;
	font-family: var(--font-primary);
	font-size: var(--font-size-p);
}
