.button {
	background-color: var(--background-color);
	padding: 0.78125rem 1.875rem;
	border-radius: 999rem;
	cursor: pointer;

	// necessary for radius corner with a gradient
	position: relative;
	box-sizing: border-box;
	background-clip: padding-box;
	border: 1px transparent solid;

	// necessary for radius corner with a gradient
	&::before {
		content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(273.58deg, #4AAF3A 0%, #245CEC 100%);
  }
}
