@import "../../../app/index.scss";

.header {
	position: absolute;
	top: 0; left: 0; right: 0;
	padding: 0 2rem;
	z-index: 5;
	user-select: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 2.5rem 0;
}

.navbar {
	display: none;

	@include breakpoint(md) {
		display: block;
	}
}

.buttons {
	display: none;

	@include breakpoint(md) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0 1.875rem;
	}
}
