.wrapper {
	max-width: 29.875rem;
}

.title {
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-h1);
}

.text {
	font-size: var(--font-size-p);
	line-height: var(--line-height-p);
	color: var(--text-color-p);
}
