.footerTop {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.text {
	display: flex;
	align-items: center;
	font-size: var(--font-size-p);
	line-height: var(--line-height-p);
	color: var(--text-color-p);
}
